body {
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(194, 11, 118);
  }
  
  .contact_form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
  }
  
  .contact_form input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #faea6d;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  
  .contact_form textarea {
    background-color: #fbfbfb;
    width: 405px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #cad861;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 15px;
  }
  
  .contact_form label {
    display: block;
  }
  
  .contact_form button {
    height: 45px;
    width: 420px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #9bb84e;
    border: 1px solid #ab4493;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .contact_form button p {
    color: #fff;
  }
  
  .contact_form span {
    color: #ab4493;
  }
  
  .contact_form .aviso {
    font-size: 13px;
    color: #0e0e0e;
  }
  
  .contact_form h1 {
    font-size: 39px;
    text-align: left;
    padding-bottom: 20px;
    color: #ab4493;
  }
  
  .contact_form h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
  }
  
  .contact_form p {
    font-size: 14px;
    color: #0e0e0e;
  }
  
  .contact_form ::-webkit-input-placeholder {
    color: #a8a8a8;
  }
  
  .contact_form ::-webkit-textarea-placeholder {
    color: #a8a8a8;
  }
  
  .contact_form input:focus {
    outline: 0;
    border: 1px solid #97d848;
  }
  
  .contact_form textarea:focus {
    outline: 0;
    border: 1px solid #97d848;
  }