.App {
  font-family: 'Oxygen', sans-serif;
  height: 100vh;
  background: rgb(188, 191, 40);
  background: linear-gradient(
    180deg,
    rgb(103, 145, 20) 30%,
    rgb(119, 133, 54) 60%,
    rgb(187, 197, 11) 60%,
    rgb(27, 161, 85) 45%,
    rgb(65, 162, 75) 50%
  );
}